$bg-color-main: whitesmoke;
$bg-color-button: gold;
$font-color-main: black;
$font-color-link: rgb(92, 157, 179);
$font-weight-bold: bold;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-small: 15px;
$padding-main: 10px;
$margin-main: 15px;
$img-width-small: 60px;
$img-width-big: 160px;
$gap-main: 10px;