$bg-color-main: whitesmoke;
$bg-color-button: #ffbd11;
$font-color-main: black;
$font-color-link: rgb(40, 155, 194);
$font-weight-bold: bold;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-small: 13px;
$padding-main: 10px;
$margin-main: 15px;
$img-width-small: 55px;
$img-width-big: 80px;
$gap-main: 10px;