@import "_variables";
@import "_mixins";
@import "_header";
@import "_footer";

body{
    margin: $margin-main;
    padding: $padding-main;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}