$primary: rgb(63, 63, 63);
$secondary: rgb(170, 164, 164);
$success: rgb(22, 109, 22);
$danger: rgb(134, 11, 11);
$info: rgb(69, 114, 173);
$body-bg: whitesmoke;
$card-bg: beige;
$border-simple: 1px solid lightgray;
$margin-y-axis: 10px;
$margin-x-axis: 15px;
$padding: 10px;