*{
    box-sizing: border-box;
}

.header-div {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: $header-bg;
    height: 64px;
    padding: 12px 0;
    font-weight: bold;

    button,a:not(.rz-symbols){
        @include buttons-and-links;
    }

    .rz-symbols{
        padding: 0;
    }

    .search-but{
        width: 75px;
        background-color: #00a046;
        padding: 0 10px;
    }

    .Catalog{
        background-color: transparent;
        width: auto;
        padding: 5px 10px;
        margin-left: 5px;
        gap: 10px;
        // color: #00a046;
        border: 1px solid white;
    }

    form{
        // @include flex-center;
        // width: 50vw;
        display: flex;
        align-items: center;
        flex: 1;
        margin-left: 10px;
        height: 100%;
        background-color: white;
        input{
            flex: 1;
            border: none;
            // width: 75%;
        }
    }

    .header-tools{
        height: 100%;
        gap: 10px;
    }

    .left-part,.right-part{
        height: 100%;
        gap: 10px;
    }

    img{
        width: auto;
        height: 100%;
    }
}