$PCs: 1400px;
$Laptops: 1150px;
$Tablets: 800px;
$Phones: 450px;

$header-bg: rgb(34 31 31);
$header-img-width: 20px;
$header-img-height: 100%;
$header-img-padding: 8px;


$font-size-big: 1.5em;
$font-size-medium: 1.2em;
$font-size-small: 0.9em;
$font-size-normal: 1em;

$font-color-main: rgb(31, 31, 31);
$font-color-secondary: rgb(139, 139, 139);
$font-color-success: rgb(35, 136, 35);

$padding-y-main: 12px;
$padding-x-main: 8px;
$padding-main: 2px 8px;
