$PCs: 1400px;
$Laptops: 1150px;
$Tablets: 800px;
$Phones: 450px;

$header-bg: rgb(34 31 31);
$header-img-width: 20px;
$header-img-height: 100%;
$header-img-padding: 8px;


$font-size-big: 20px;
$font-size-medium: 16px;
$font-size-small: 12px;