body{
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.el{
    background-color: rgb(153, 153, 153);
    padding: 12px;
    width: 300px;
    height: 70px;
    color: whitesmoke;
    margin: auto 0;
}

.el:hover{
    background-color: rgb(112, 112, 112);
    transition: all 0.5s ease 0s;
}

img{
    width: 70px;
    float: left;

}

p{
    font-size: medium;
    display: inline-block;
    padding: 20px;
    padding-top: 12px;
}