* {
            background-color: #D9BC9A;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
            /* font-style: inherit; */
        }
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
strong{
    /* color: #146152; */
    color: #005C53;
}
mark{
    color: darkred;
    /* background-color: lightcoral; */
}
abbr{
    color: indigo;
}
hr{
    color: darkolivegreen;
}
/* .emogi{
    content: 😎;
} */